.comment-new-content
  = simple_form_for(@comment, url: path) do |f|
    = f.input :body, label: false, input_html: {class: 'comment-new-textarea'}
    = f.button :submit, class: 'comment-new-button'
