- content_for(:html_title) { '422 error - Ciita' }
.error-page-wrapper
  .logo
    Ciita
  .error-page
    .error-page__title
      422
    %p.error-page__message
      このページは表示できません。
    = link_to 'トップページへ', root_path, class: 'error-page__link'
