.setting-menu
  = link_to 'プロフィール', settings_profile_path, class: "#{active == 'profile' ? 'setting-menu__item setting-menu__item--active' : 'setting-menu__item'}"
  = link_to 'パスワード', settings_password_path, class: "#{active == 'password' ? 'setting-menu__item setting-menu__item--active' : 'setting-menu__item'}"
