.user-info
  .user-info__header
    = link_to "@#{current_user.screen_name}", user_path(current_user.screen_name)
  .user-info__stats
    .user-info__stats-item
      .user-info__stats-count
        = current_user.items.size
      .user-info__stats-label
        記事
    .user-info__stats-item
      .user-info__stats-count
        = get_contribution(current_user.screen_name)
      .user-info__stats-label
        Contribution
