- content_for(:html_title) { 'Ciita' }
.home-main
  = render 'item_list'
.home-aside
  = render 'user_info' if current_user
  .contribution-ranking
    = render 'user_ranking'
  .tag-ranking
    = render 'tag_ranking'
