- if current_user
  .comment-new-header
    コメントを投稿する
  = render 'comments/form', path: comments_path(@item.user.screen_name, @item.draft.hashid, @comment)
- else
  .comment__form--not-logged-in
    .comment__form-title--not-logged-in
      あなたもコメントしてみませんか :)
    = link_to 'ユーザ登録', signup_path, class: 'comment__form-signup-button'
    .comment__form-login-leading
      すでにアカウントを持っている方は
      = link_to 'ログイン', login_path
