.login-all-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #4a4a4a;
  width: 1160px;
}

.login-logo {
  background-color: #59bb0c;
  height: 29px;
  width: 96px;
  padding: 8px 12px;
  margin-top: 30px;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.login-container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.login-title {
  margin: 30px 0;
  letter-spacing: 1px;
  font-size: 36px;
  font-weight: 400;
}

.login-form {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 0 5px;
  margin: 0 auto;
  width: 350px;
  &__error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: .25rem;
    padding: 12px;
    margin-bottom: 16px;
    text-align: left;
  }
}

.login-button {
  width: 100%;
  color: #fff;
  background-color: #59bb0c;
  border-color: #4ea30a;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: #428b09;
    border-color: #326a07;
  }
}

.signup-leading {
  color: #999;
  padding-top: 20px;
  a {
    color: #337ab7;
  }
}
